@import url(http://allfont.net/allfont.css?fonts=nasalization-free);
* {
  cursor: url("/images/cursor.cur"), auto;
}

@font-face {
  font-family: "nasalization";
  src: url("../fonts/NasalizationRg-Regular-400.ttf") format("truetype"), url("../fonts/NasaliNasalizationRg-Regular-400.woff") format("woff"), url("../fonts/NasaliNasalizationRg-Regular-400.otf") format("opentype");
}

@font-face {
  font-family: "squarefont";
  src: url("../fonts/SquareFont-400.ttf") format("truetype"), url("../fonts/SquareFont-400.otf") format("opentype"), url("../fonts/SquareFont-400.woff") format("woff");
}

@font-face {
  font-family: "Gameshow";
  src: url("../fonts/Gameshow.ttf"), url("css/fonts/Gameshow.otf") format("opentype");
}

body {
  background: url("images/background.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-family: "nasalization" !important;
}

#cursor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.616);
  position: absolute;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 1;
}

#fullpage {
  height: 100vh;
  overflow: hidden;
}

#fullpage .sections {
  margin-top: 0% !important;
  height: 100vh !important;
}

nav#dot-nav {
  position: fixed;
  right: 20px;
  top: 20px;
}

nav#dot-nav a {
  border: 1px solid #121212;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: block;
  margin: 10px;
}

nav#dot-nav a.active, nav#dot-nav a:first-child {
  background: white;
}

html {
  height: 100%;
}

.sections {
  width: 100%;
  position: relative;
}

.sections .section1 {
  background-image: url("images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 90%;
  overflow: hidden;
  height: 100% !important;
  padding: 0% !important;
  position: relative;
}

.sections .section1 .top-content {
  position: relative;
}

.sections .section1 .top-content .content-col {
  padding: 5%;
  height: 100%;
}

.sections .section1 .top-content .content-col .centerheading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 17%;
}

.sections .section1 .top-content .content-col .centerheading .navtoggler {
  position: absolute;
  right: 7%;
  top: 20%;
  font-size: 40px;
}

.sections .section1 .top-content .content-col .centerheading .mainlogo {
  width: 200px;
  height: 200px;
}

.sections .section1 .top-content .content-col .centerheading hr {
  border: 1px solid #007bff;
  width: 40%;
}

.sections .section1 .top-content .content-col .centerheading .mainbtn {
  background-image: url("images/book-stra.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  color: white;
  width: 210px;
  height: 40px;
  padding: 1%;
  text-align: center;
  font-family: 'squarefont';
  font-size: 14px;
  text-transform: uppercase;
}

.sections .section1 .top-content .sitelogo {
  position: absolute;
  top: 10%;
  left: 2%;
}

.sections .section1 .top-content .sitelogo img {
  width: 66px;
  height: 107px;
}

.sections .section1 .top-content .siteName {
  position: absolute;
  top: 10%;
  left: 12%;
  text-transform: uppercase;
  font-family: 'nasalization';
  line-height: 1;
  width: 100%;
}

.sections .section1 .top-content .siteName a {
  color: white;
  text-decoration: none;
  font-size: 50px;
}

.sections .section1 .topnav1 {
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.sections .section1 .topnav1 .topsection-corner-nav {
  padding: 0% !important;
}

.sections .section1 .topnav1 .topsection-corner-nav .nav-wrap {
  margin-left: 55%;
}

.sections .section1 .topnav1 .topsection-corner-nav .nav-wrap .nav-item {
  font-size: 25px;
  margin-left: 15px;
}

.sections .section1 .topnav1 .topsection-corner-nav .nav-wrap .nav-item a {
  color: white !important;
  font-family: 'nasalization';
  text-transform: uppercase;
}

.sections .section1 .topnav1 .topsection-corner-nav .nav-wrap .nav-item a:hover {
  opacity: .8;
}

.sections .section1 .topnav2 {
  position: absolute;
  bottom: 2%;
  width: 100%;
}

.sections .section1 .topnav2 .topsection-corner-nav2 {
  padding: 0% !important;
}

.sections .section1 .topnav2 .topsection-corner-nav2 .nav-wrap2 {
  margin-left: 15%;
}

.sections .section1 .topnav2 .topsection-corner-nav2 .nav-wrap2 .nav-item {
  font-size: 25px;
  margin-left: 15px;
}

.sections .section1 .topnav2 .topsection-corner-nav2 .nav-wrap2 .nav-item a {
  color: white !important;
  font-family: 'nasalization';
  text-transform: uppercase;
}

.sections .section1 .topnav2 .topsection-corner-nav2 .nav-wrap2 .nav-item a:hover {
  opacity: .8;
}

.sections .rating {
  position: absolute;
  right: 5%;
  bottom: 7%;
}

.sections .rating .fa.fa-staro {
  display: block;
  padding-bottom: 10px;
}

.sections .rating .fa.fa-staro img {
  width: 40px;
  height: 40px;
}

#section2 {
  padding-top: 10%;
  padding-bottom: 10%;
}

#section2 .video-section-content {
  height: 100%;
}

#section2 .video-section-content .row {
  height: 100%;
}

#section2 .video-section-content .row .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section2 .video-section-content .text-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

#section2 .video-section-content .text-container h3 {
  font-size: 52px;
  font-family: 'nasalization';
}

#section2 .video-section-content .text-container p {
  font-size: 20px;
}

#section3 .services-section {
  background-image: url("images/tabs.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 80%;
  overflow: hidden;
  height: 100%;
  padding: 0% !important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section3 .services-section .row {
  height: 100%;
}

#section3 .services-section .service-heading {
  position: absolute;
  top: 15%;
  right: 6%;
}

#section3 .services-section .service-data {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  text-align: right;
}

#section3 .services-section .service-data .prev:hover, #section3 .services-section .service-data .next:hover,
#section3 .services-section .service-data .prev:active, #section3 .services-section .service-data .next:active,
#section3 .services-section .service-data .prev:focus, #section3 .services-section .service-data .next:focus,
#section3 .services-section .service-data .prev:visited, #section3 .services-section .service-data .next:visited {
  background: transparent !important;
  border: none !important;
}

#section3 .services-section .service-data .prev, #section3 .services-section .service-data .next {
  background: transparent;
  border: none;
  margin-bottom: 70px;
  padding-left: 43px;
  font-size: 29px;
}

#section3 .services-section .service-data .tab-content .tab-pane h4 {
  position: absolute;
  top: 18%;
  left: 10%;
}

#section3 .services-section .service-data .tab-content .tab-pane p {
  font-size: 28px;
}

#section3 .services-section .service-data .tab-content .tab-pane .btn {
  position: absolute;
  left: 5%;
  bottom: 12%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
  font-size: 28px;
}

#section3 .services-section .service-data .tab-content .tab-pane .btn.next {
  left: 25%;
}

#section3 .services-section .nav-tabs {
  position: absolute !important;
  left: 7%;
  bottom: 2%;
  border-bottom: none;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#section3 .services-section .nav-tabs .nav-item {
  background-color: #00aeefa6;
  color: white;
  margin: 10px;
}

#section3 .services-section .nav-tabs .nav-item a {
  color: white;
}

#section3 .services-section .nav-tabs .nav-item .active {
  background-color: #008fefa6;
}

#section3 .services-section .nav-tabs .nav-item .nav-link {
  border: 0px !important;
  outline: none;
}

#section3 .services-section .nav-tabs .nav-item .nav-link:hover {
  border: 0px !important;
  outline: none;
}

#section4 {
  padding-top: 5%;
  padding-bottom: 5%;
}

#section4 .text-section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section4 .text-section .row .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section4 .text-section .row .col-12 .text-container {
  text-align: center;
  line-height: 2;
  font-family: 'nasalization';
}

#section4 .text-section .row .col-12 .text-container h1 {
  font-size: 60px;
}

#section4 .text-section .row .col-12 .text-container p {
  font-size: 28px;
}

#section5 .analytic-section {
  height: 100%;
}

#section5 .analytic-section .row {
  height: 100%;
}

#section5 .analytic-section .row .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section5 .analytic-section .img-side img {
  width: 100%;
  height: 300px;
}

#section5 .analytic-section .analytic-content {
  background-image: url("images/analytics-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  overflow: hidden;
  width: 80%;
  height: 100%;
  padding: 0% !important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section5 .analytic-section .analytic-content .analytic-inner h4 {
  font-size: 38px;
}

#section5 .analytic-section .analytic-content .analytic-inner .first {
  font-size: 22px;
}

#section5 .analytic-section .analytic-content .analytic-inner .second {
  font-size: 18px;
  font-family: 'nasalization';
  text-align: right;
}

#section5 .analytic-section .analytic-content .analytic-btn {
  position: absolute;
  bottom: 18%;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: 'nasalization';
  background-color: #03a6ff;
  width: 300px;
  border-radius: 0%;
}

#section6 .strategy-section {
  height: 100%;
}

#section6 .strategy-section .row {
  height: 100%;
}

#section6 .strategy-section .row .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section6 .strategy-section .img-side img {
  width: 100%;
  height: 400px;
}

#section6 .strategy-section .strategy-content {
  background-image: url("images/analytics-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  overflow: hidden;
  width: 70%;
  height: 100%;
  padding: 0% !important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section6 .strategy-section .strategy-content .strategy-inner {
  padding-left: 6%;
  padding-right: 7%;
}

#section6 .strategy-section .strategy-content .strategy-inner h4 {
  font-size: 38px;
}

#section6 .strategy-section .strategy-content .strategy-inner .first {
  font-size: 22px;
}

#section6 .strategy-section .strategy-content .strategy-inner .second {
  font-size: 18px;
  text-align: right;
}

#section6 .strategy-section .strategy-content .strategy-btn1 {
  position: absolute;
  left: 10%;
  bottom: 18%;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: 'nasalization';
  background-color: #03a6ff;
  width: 150px;
  border-radius: 0%;
  display: inline-block;
}

#section6 .strategy-section .strategy-content .strategy-btn2 {
  display: inline-block;
  position: absolute;
  right: 10%;
  bottom: 18%;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: 'nasalization';
  background-color: #03a6ff;
  width: 150px;
  border-radius: 0%;
}

.slider-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.slider-1 .clients-slider .row {
  height: 100%;
}

.slider-1 .clients-slider .row .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.slider-1 .clients-slider .row .col-12 .container {
  width: 80%;
}

.clients h4 {
  display: inline-block;
  font-size: 40px;
  padding-right: 30px;
}

.clients {
  width: 20%;
  max-width: 20%;
  float: left;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 19%;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.casestudy-content {
  height: 100%;
}

.casestudy-content .row {
  height: 100%;
}

.casestudy-content .row .col-12 {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.casestudy-content .row .col-12 .swiper-slide .row {
  width: 100%;
}

.casestudy-content .row .col-12 .swiper-slide .data-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.casestudy-content .row .col-12 .swiper-slide .data-side .text-container {
  text-align: right;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.casestudy-content .row .col-12 .swiper-slide .data-side .text-container h3 {
  text-transform: uppercase;
  font-family: 'nasalization';
  font-size: 36px;
  color: #0077ff;
}

.casestudy-content .row .col-12 .swiper-slide .data-side .text-container p {
  font-size: 20px;
}

.casestudy-content .row .col-12 .swiper-slide .data-side .text-container .more {
  background-color: #0099ff;
  color: black;
  width: 250px;
  text-decoration: none;
  padding: 3%;
  text-align: center;
}

.casestudy-content .row .col-12 .swiper-slide .img-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.casestudy-content .row .col-12 .swiper-slide .img-side .case-profile {
  background-image: url("images/video-right.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  width: 100%;
  height: 300px;
  padding: 0% !important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.casestudy-content .row .carousel-indicators {
  bottom: -20%;
}

.casestudy-content .row .carousel-indicators li {
  height: 10px;
}

/* slider */
#section9 .map-section {
  background-image: url("images/world.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#section9 .map-section .row {
  height: 100%;
}

#section9 .map-section .row .col-12 {
  height: 100%;
}

#section9 .map-section .row .col-12 .world {
  background-image: url("images/marker.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 7%;
  bottom: 15%;
  width: 350px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}

#section9 .map-section .row .col-12 .world p {
  margin-bottom: 0px;
}

#section9 .map-section .row .col-12 .world .htitle {
  font-size: 22px;
}

#section9 .map-section .row .col-12 .world .counter {
  margin-left: 15px;
  font-size: 12px;
}

#section10 .footer-section {
  height: 100%;
}

#section10 .footer-section .row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section10 .footer-section .row .col-12 {
  height: 40%;
}

#section10 .footer-section .job-col {
  background-image: url("images/detail-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#section10 .footer-section .job-col p {
  font-size: 12px;
  margin-bottom: 2px;
}

#section10 .footer-section .job-col h2 {
  font-size: 44px;
  font-weight: 700;
}

#section10 .footer-section .job-col:hover {
  opacity: 0.9;
}

#section10 .footer-section .job-col .click {
  position: absolute;
  bottom: 10%;
}

#section10 .footer-section .qoute-col {
  background-image: url("images/detail-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#section10 .footer-section .qoute-col p {
  font-size: 12px;
  margin-bottom: 2px;
}

#section10 .footer-section .qoute-col h2 {
  font-size: 44px;
  font-weight: 700;
}

#section10 .footer-section .qoute-col:hover {
  opacity: 0.9;
}

#section10 .footer-section .qoute-col .click {
  position: absolute;
  bottom: 10%;
}

#section10 .footer-section .resource-col {
  background-image: url("images/detail-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#section10 .footer-section .resource-col p {
  font-size: 12px;
  margin-bottom: 2px;
}

#section10 .footer-section .resource-col h2 {
  font-size: 44px;
  font-weight: 700;
}

#section10 .footer-section .resource-col:hover {
  opacity: 0.9;
}

#section10 .footer-section .resource-col .click {
  position: absolute;
  bottom: 10%;
}

@media screen and (max-width: 500px) and (min-width: 0px) {
  #cursor {
    display: none !important;
  }
  #fullpage {
    height: 100vh;
    overflow: hidden;
  }
  #fullpage .sections {
    height: 95vh !important;
  }
  .section1 .top-content .content-col {
    padding: 0% !important;
  }
  .sitelogo {
    top: 9% !important;
    left: 2% !important;
  }
  .sitelogo img {
    width: 40px !important;
    height: 60px !important;
  }
  .siteName {
    top: 12% !important;
    left: 15% !important;
  }
  .siteName a {
    font-size: 18px !important;
  }
  .centerheading {
    margin-top: 30% !important;
  }
  .centerheading h1 {
    font-size: 6vw !important;
    font-family: "nasalization" !important;
  }
  .centerheading hr {
    width: 50% !important;
  }
  .centerheading .mainlogo {
    width: 40vw !important;
    height: 40vw !important;
  }
  .centerheading .welcomebanner {
    width: 75vw !important;
    height: 10vh !important;
  }
  .centerheading .mainbtn {
    height: 30px !important;
  }
  .topnav1 {
    bottom: 6% !important;
  }
  .topnav1 .topsection-corner-nav .nav-wrap {
    margin-left: 48% !important;
  }
  .topnav1 .topsection-corner-nav .nav-wrap .nav-item {
    font-size: 3vw !important;
    margin-left: 0px !important;
  }
  .topnav2 {
    left: -3% !important;
    bottom: 3% !important;
  }
  .topnav2 .topsection-corner-nav2 .nav-wrap2 {
    margin-left: 8% !important;
  }
  .topnav2 .topsection-corner-nav2 .nav-wrap2 .nav-item {
    font-size: 3vw !important;
    margin-left: 0px !important;
  }
  .rating {
    position: absolute;
    right: 0% !important;
    bottom: 7% !important;
  }
  .rating .fa.fa-staro {
    display: block;
    padding-bottom: 10px;
  }
  .rating .fa.fa-staro img {
    width: 25px !important;
    height: 25px !important;
  }
  .video-section-content .text-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
    width: 100% !important;
    text-align: right !important;
    -webkit-box-pack: right !important;
        -ms-flex-pack: right !important;
            justify-content: right !important;
  }
  .video-section-content .text-container h3 {
    font-size: 30px !important;
  }
  .video-section-content .text-container p {
    font-size: 16px !important;
  }
  .video-section-content #video-laptop iframe {
    width: 330px !important;
    height: 280px !important;
  }
  .services-section .service-heading {
    right: 2% !important;
    top: 17% !important;
  }
  .services-section .service-heading h2 {
    font-size: 12px !important;
  }
  .services-section .service-data .tab-content .tab-pane p {
    font-size: 12px !important;
  }
  .services-section .service-data .tab-content .tab-pane h4 {
    font-size: 14px !important;
  }
  .services-section .service-data .tab-content .tab-pane .btn {
    font-size: 12px !important;
    left: -3% !important;
    bottom: 10% !important;
  }
  .services-section .service-data .tab-content .tab-pane .btn.next {
    left: 15% !important;
  }
  .services-section .nav-tabs {
    bottom: 3% !important;
    left: 0% !important;
    width: 90% !important;
  }
  .services-section .nav-tabs li {
    width: 85px;
    height: 18px;
    padding: 0px;
    margin: 0px;
  }
  .services-section .nav-tabs li a {
    padding: 3px !important;
    font-size: 6px !important;
    text-align: center !important;
  }
  .text-section .text-container h1 {
    font-size: 18px !important;
    font-family: "nasalization" !important;
  }
  .text-section .text-container p {
    font-size: 12px !important;
    font-family: "nasalization" !important;
  }
  .analytic-content {
    width: 100% !important;
    height: 100% !important;
    background-size: 100% 60% !important;
    padding-bottom: 5% !important;
    background-position: top;
  }
  .analytic-content .analytic-inner {
    margin-top: 21% !important;
  }
  .analytic-content .analytic-inner h4 {
    font-size: 16px !important;
  }
  .analytic-content .analytic-inner .first {
    font-size: 12px !important;
  }
  .analytic-content .analytic-inner .second {
    font-size: 12px !important;
  }
  .analytic-content .analytic-btn {
    bottom: 5% !important;
  }
  .strategy-content {
    width: 100% !important;
    height: 100% !important;
    background-size: 100% 80% !important;
    padding-bottom: 10% !important;
    background-position: top;
  }
  .strategy-content .strategy-inner {
    margin-top: 10% !important;
  }
  .strategy-content .strategy-inner h4 {
    font-size: 16px !important;
    margin-bottom: 0% !important;
  }
  .strategy-content .strategy-inner .first {
    font-size: 12px !important;
    margin-bottom: 0% !important;
  }
  .strategy-content .strategy-inner .second {
    font-size: 12px !important;
  }
  .strategy-content .strategy-btn1 {
    left: 0% !important;
    bottom: -2% !important;
    height: 20px;
    width: 100px !important;
    font-size: 11px !important;
    padding: 0% !important;
  }
  .strategy-content .strategy-btn2 {
    right: 0% !important;
    bottom: -2% !important;
    height: 20px;
    width: 100px !important;
    font-size: 11px !important;
    padding: 0% !important;
  }
  .clients-slider .row {
    height: 100%;
  }
  .clients-slider .row .col-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
  }
  .clients-slider .row .col-12 .container {
    width: 85% !important;
  }
  .casestudy-content .swiper-slide .row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }
  .casestudy-content .swiper-slide .text-container h3 {
    font-size: 18px !important;
  }
  .casestudy-content .swiper-slide .text-container p {
    font-size: 12px !important;
  }
  .casestudy-content .swiper-slide .img-side {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: 100% !important;
    position: relative !important;
  }
  .casestudy-content .swiper-slide .img-side .slide-title {
    font-size: 22px !important;
  }
  .casestudy-content .swiper-slide .img-side .case-profile {
    background-image: url("images/video-right.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    width: 100% !important;
    height: 300px !important;
    position: relative;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .casestudy-content .carousel-indicators {
    bottom: -6% !important;
  }
  .casestudy-content .carousel-indicators li {
    height: 10px;
  }
  #section9 {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #section9 .map-section .world {
    right: 0% !important;
    bottom: 5% !important;
    padding: 3% !important;
    width: 300px !important;
  }
  #section9 .map-section .world .htitle {
    font-size: 16px !important;
    font-weight: 400;
  }
  .footer-section .row .col-12 {
    height: 35% !important;
    padding: 3% !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 501px) {
  #cursor {
    display: none !important;
  }
  #fullpage {
    height: 100vh;
    overflow: hidden;
  }
  #fullpage .sections {
    height: 90vh !important;
  }
  .section1 .top-content .sitelogo {
    top: 10% !important;
    left: 1% !important;
  }
  .section1 .top-content .sitelogo img {
    width: 50px !important;
    height: 60px !important;
  }
  .section1 .top-content .siteName {
    top: 11% !important;
    left: 13% !important;
  }
  .section1 .top-content .siteName a {
    font-size: 24px !important;
  }
  .section1 .top-content .content-col {
    padding: 0% !important;
  }
  .centerheading {
    margin-top: 20% !important;
  }
  .centerheading h1 {
    font-size: 24px !important;
    font-family: "nasalization" !important;
  }
  .centerheading hr {
    width: 40% !important;
  }
  .centerheading .mainlogo {
    width: 150px !important;
    height: 130px !important;
  }
  .centerheading .welcomebanner {
    width: 280px !important;
    height: 40px !important;
  }
  .centerheading .mainbtn {
    height: 35px !important;
  }
  .topnav1 {
    bottom: 6% !important;
  }
  .topnav1 .topsection-corner-nav .nav-wrap {
    margin-left: 50% !important;
  }
  .topnav1 .topsection-corner-nav .nav-wrap .nav-item {
    text-transform: uppercase;
    font-size: 14px !important;
    margin-left: 0px !important;
  }
  .topnav2 {
    left: -6% !important;
    bottom: 3% !important;
  }
  .topnav2 .topsection-corner-nav2 .nav-wrap2 {
    margin-left: 15% !important;
  }
  .topnav2 .topsection-corner-nav2 .nav-wrap2 .nav-item {
    font-size: 14px !important;
    margin-left: 0px !important;
  }
  .rating {
    position: absolute;
    right: 1% !important;
    bottom: 10% !important;
  }
  .rating .fa.fa-staro {
    display: block;
    padding-bottom: 10px;
  }
  .rating .fa.fa-staro img {
    width: 25px !important;
    height: 25px !important;
  }
  .video-section-content .text-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
    width: 80% !important;
    height: 100% !important;
    text-align: right !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .video-section-content .text-container h3 {
    font-size: 26px !important;
  }
  .video-section-content .text-container p {
    font-size: 16px !important;
  }
  .video-section-content #video-laptop iframe {
    width: 300px !important;
    height: 240px !important;
  }
  .services-section .service-heading {
    right: 4% !important;
    top: 15% !important;
  }
  .services-section .service-heading h2 {
    font-size: 18px !important;
  }
  .services-section .service-data .tab-content .tab-pane p {
    font-size: 14px !important;
  }
  .services-section .service-data .tab-content .tab-pane h4 {
    font-size: 16px !important;
  }
  .services-section .service-data .tab-content .tab-pane .btn {
    font-size: 18px !important;
    left: 0% !important;
    bottom: 7% !important;
  }
  .services-section .service-data .tab-content .tab-pane .btn.next {
    left: 16% !important;
  }
  .services-section .nav-tabs {
    bottom: 0vh !important;
    left: 3% !important;
    width: 80% !important;
  }
  .services-section .nav-tabs .nav-item {
    margin: 3px !important;
  }
  .services-section .nav-tabs li {
    width: 85px;
    height: 18px;
    padding: 0px;
    margin: 0px;
  }
  .services-section .nav-tabs li a {
    padding: 0px !important;
    font-size: 7px !important;
    text-align: center !important;
    line-height: 3 !important;
  }
  .text-section .text-container h1 {
    font-size: 18px !important;
  }
  .text-section .text-container p {
    font-size: 12px !important;
  }
  .analytic-section .img-side {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-top: 10% !important;
  }
  .analytic-section .img-side img {
    width: 200px !important;
    height: 190px !important;
  }
  .analytic-content {
    width: 100% !important;
    height: 300px !important;
    background-size: 100% 60% !important;
    padding-bottom: 5% !important;
    background-position: top;
  }
  .analytic-content .analytic-inner {
    margin-top: 33% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .analytic-content .analytic-inner h4 {
    font-size: 18px !important;
  }
  .analytic-content .analytic-inner .first {
    font-size: 14px !important;
    margin-bottom: 2% !important;
  }
  .analytic-content .analytic-inner .second {
    font-size: 10px !important;
  }
  .analytic-content .analytic-btn {
    bottom: 5% !important;
  }
  .strategy-section .img-side {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .strategy-section .img-side img {
    width: 250px !important;
    height: 250px !important;
  }
  .strategy-content {
    width: 100% !important;
    height: 300px !important;
    background-size: 100% 60% !important;
    padding-bottom: 10% !important;
    background-position: top;
  }
  .strategy-content .strategy-inner {
    margin-top: 33% !important;
  }
  .strategy-content .strategy-inner h4 {
    font-size: 18px !important;
    margin-bottom: 1% !important;
  }
  .strategy-content .strategy-inner .first {
    font-size: 12px !important;
    margin-bottom: 3% !important;
  }
  .strategy-content .strategy-inner .second {
    font-size: 10px !important;
  }
  .strategy-content .strategy-btn1 {
    left: 4% !important;
    bottom: 6% !important;
    height: 30px;
    width: 100px !important;
    font-size: 11px !important;
    padding: 0% !important;
    line-height: 3 !important;
  }
  .strategy-content .strategy-btn2 {
    right: 4% !important;
    bottom: 6% !important;
    height: 30px;
    width: 100px !important;
    font-size: 11px !important;
    padding: 0% !important;
    line-height: 3 !important;
  }
  .clients-slider .row {
    height: 100%;
  }
  .clients-slider .row .col-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: 100%;
  }
  .clients-slider .row .col-12 .clients {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    position: relative !important;
    margin-bottom: 5% !important;
  }
  .clients-slider .row .col-12 .clients img {
    position: absolute !important;
    top: -60% !important;
    left: 40% !important;
    -webkit-transform: rotate(90deg) !important;
            transform: rotate(90deg) !important;
  }
  .clients-slider .row .col-12 .container {
    width: 100% !important;
    height: 150px !important;
  }
  .casestudy-content .swiper-slide .data-side {
    height: 100% !important;
  }
  .casestudy-content .swiper-slide .data-side .text-container {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .casestudy-content .swiper-slide .data-side .text-container h3 {
    font-size: 16px !important;
  }
  .casestudy-content .swiper-slide .data-side .text-container p {
    font-size: 11px !important;
  }
  .casestudy-content .swiper-slide .data-side .text-container .more {
    font-size: 12px !important;
    width: 170px !important;
  }
  .casestudy-content .swiper-slide .img-side {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: 100% !important;
    position: relative !important;
  }
  .casestudy-content .swiper-slide .img-side .slide-title {
    font-size: 22px !important;
  }
  .casestudy-content .swiper-slide .img-side .case-profile {
    background-image: url("images/video-right.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    width: 100% !important;
    height: 235px !important;
    position: relative;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .casestudy-content .carousel-indicators {
    bottom: -13% !important;
  }
  .casestudy-content .carousel-indicators li {
    height: 10px;
  }
  #section9 {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #section9 .map-section .world {
    right: 0% !important;
    bottom: 5% !important;
    padding: 3% !important;
    width: 250px !important;
    height: 170px !important;
  }
  #section9 .map-section .world .htitle {
    font-size: 16px !important;
    font-weight: 400 !important;
  }
  #section9 .map-section .world .counter {
    font-size: 12px !important;
  }
  .footer-section .row .col-12 {
    height: 55% !important;
    padding: 3% !important;
  }
  .footer-section .row .col-12 .job-col h2 {
    font-size: 18px !important;
  }
  .footer-section .row .col-12 .job-col .click {
    font-size: 10px !important;
  }
  .footer-section .row .col-12 .qoute-col h2 {
    font-size: 18px !important;
  }
  .footer-section .row .col-12 .qoute-col .click {
    font-size: 10px !important;
  }
  .footer-section .row .col-12 .resource-col h2 {
    font-size: 18px !important;
  }
  .footer-section .row .col-12 .resource-col .click {
    font-size: 10px !important;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  #fullpage {
    height: 100vh;
    overflow: hidden;
  }
  #fullpage .sections {
    height: 95vh !important;
  }
  .section1 .top-content .siteName {
    top: 8% !important;
  }
  .section1 .top-content .siteName a {
    font-size: 38px !important;
  }
  .section1 .top-content .sitelogo {
    top: 6% !important;
    left: 2% !important;
  }
  .section1 .top-content .sitelogo img {
    width: 60px !important;
    height: 80px !important;
  }
  .section1 .top-content .centerheading {
    margin-top: 10% !important;
  }
  .topnav1 {
    left: -6% !important;
  }
  .topnav1 .nav-item {
    font-size: 16px !important;
  }
  .topnav2 {
    left: -6% !important;
  }
  .topnav2 .nav-item {
    font-size: 16px !important;
  }
  .video-section-content .text-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
    width: 100% !important;
    text-align: right !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .video-section-content .text-container h3 {
    font-size: 30px !important;
  }
  .video-section-content .text-container p {
    font-size: 16px !important;
  }
  .video-section-content #video-laptop iframe {
    width: 330px !important;
    height: 280px !important;
  }
  .services-section .service-heading {
    right: 8% !important;
    top: 17% !important;
  }
  .services-section .service-heading h2 {
    font-size: 18px !important;
  }
  .services-section .service-data .tab-content .tab-pane p {
    font-size: 14px !important;
  }
  .services-section .service-data .tab-content .tab-pane h4 {
    font-size: 16px !important;
  }
  .services-section .service-data .tab-content .tab-pane .btn {
    font-size: 18px !important;
    left: 2% !important;
    bottom: 8% !important;
  }
  .services-section .service-data .tab-content .tab-pane .btn.next {
    left: 15% !important;
  }
  .services-section .nav-tabs {
    bottom: 4% !important;
    left: 4% !important;
    width: 80% !important;
  }
  .services-section .nav-tabs li {
    width: 85px;
    height: 18px;
    padding: 0px;
    margin: 0px;
  }
  .services-section .nav-tabs li a {
    padding: 3px !important;
    font-size: 6px !important;
    text-align: center !important;
  }
  .text-section .text-container h1 {
    font-size: 28px !important;
    font-family: "nasalization" !important;
  }
  .text-section .text-container p {
    font-size: 14px !important;
    font-family: "nasalization" !important;
  }
  .analytic-section .img-side img {
    width: 230px !important;
  }
  .analytic-section .analytic-content {
    width: 100% !important;
    height: 100% !important;
    background-size: 100% 60% !important;
    padding-bottom: 5% !important;
    background-position: top;
  }
  .analytic-section .analytic-content .analytic-inner {
    margin-top: 44% !important;
  }
  .analytic-section .analytic-content .analytic-inner h4 {
    font-size: 22px !important;
  }
  .analytic-section .analytic-content .analytic-inner .first {
    font-size: 18px !important;
    margin-bottom: 7% !important;
  }
  .analytic-section .analytic-content .analytic-inner .second {
    font-size: 14px !important;
  }
  .analytic-section .analytic-content .analytic-btn {
    bottom: 8% !important;
  }
  .strategy-section .img-side img {
    width: 300px !important;
  }
  .strategy-section .strategy-content {
    width: 100% !important;
    height: 365px !important;
    background-size: 100% 80% !important;
    padding-bottom: 10% !important;
    background-position: top;
  }
  .strategy-section .strategy-content .strategy-inner {
    margin-top: 18% !important;
  }
  .strategy-section .strategy-content .strategy-inner h4 {
    font-size: 26px !important;
    margin-bottom: 0% !important;
  }
  .strategy-section .strategy-content .strategy-inner .first {
    font-size: 16px !important;
    margin-bottom: 3% !important;
  }
  .strategy-section .strategy-content .strategy-inner .second {
    font-size: 14px !important;
  }
  .strategy-section .strategy-content .strategy-btn1 {
    left: 0% !important;
    bottom: 0% !important;
    height: 30px;
    width: 150px !important;
    font-size: 13px !important;
    padding: 0% !important;
    line-height: 2 !important;
  }
  .strategy-section .strategy-content .strategy-btn2 {
    right: 0% !important;
    bottom: 0% !important;
    height: 30px;
    width: 150px !important;
    font-size: 13px !important;
    padding: 0% !important;
    line-height: 2 !important;
  }
  .casestudy-content .swiper-slide .text-container h3 {
    font-size: 18px !important;
  }
  .casestudy-content .swiper-slide .text-container p {
    font-size: 12px !important;
  }
  .casestudy-content .swiper-slide .img-side {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: 100% !important;
    position: relative !important;
  }
  .casestudy-content .swiper-slide .img-side .slide-title {
    font-size: 22px !important;
  }
  .casestudy-content .swiper-slide .img-side .case-profile {
    background-image: url("images/video-right.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    width: 100% !important;
    height: 270px !important;
    position: relative;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .casestudy-content .carousel-indicators {
    bottom: -11% !important;
  }
  .casestudy-content .carousel-indicators li {
    height: 10px;
  }
  .footer-section .row .col-12 {
    height: 35% !important;
    padding: 3% !important;
  }
  .footer-section .row .col-12 .job-col h2 {
    font-size: 18px !important;
  }
  .footer-section .row .col-12 .job-col .click {
    font-size: 12px !important;
  }
  .footer-section .row .col-12 .qoute-col h2 {
    font-size: 18px !important;
  }
  .footer-section .row .col-12 .qoute-col .click {
    font-size: 12px !important;
  }
  .footer-section .row .col-12 .resource-col h2 {
    font-size: 18px !important;
  }
  .footer-section .row .col-12 .resource-col .click {
    font-size: 12px !important;
  }
}

@media (min-width: 1349px) {
  .section1 .top-content .siteName {
    top: 8% !important;
  }
  .section1 .top-content .siteName a {
    font-size: 38px !important;
  }
  .section1 .top-content .centerheading {
    margin-top: 8% !important;
  }
  .sections .rating {
    right: 9% !important;
    bottom: 6% !important;
  }
  .services-section .nav-tabs {
    bottom: 0% !important;
  }
  .services-section .tab-pane p {
    font-size: 24px !important;
  }
  #section4 .text-section .row .col-12 .text-container h1 {
    font-size: 38px !important;
  }
  #section4 .text-section .row .col-12 .text-container p {
    font-size: 18px !important;
  }
  .analytic-section .analytic-content .analytic-inner h4 {
    font-size: 32px !important;
  }
  .analytic-section .analytic-content .analytic-inner .first {
    font-size: 18px !important;
  }
  .analytic-section .analytic-content .analytic-inner .second {
    font-size: 16px !important;
  }
  .strategy-section .strategy-content .strategy-inner h4 {
    font-size: 32px !important;
  }
  .strategy-section .strategy-content .strategy-inner .first {
    font-size: 18px !important;
  }
  .strategy-section .strategy-content .strategy-inner .second {
    font-size: 16px !important;
  }
  .casestudy-content .swiper-slide .data-side .text-container h3 {
    font-size: 26px !important;
  }
  .casestudy-content .swiper-slide .data-side .text-container p {
    font-size: 18px !important;
  }
}
/*# sourceMappingURL=stylesheet.css.map */