@import url(http://allfont.net/allfont.css?fonts=nasalization-free);
*{
    // cursor: url('./images/cur1159.ani');
   cursor: url('/images/cursor.cur'),auto;

}

@font-face { 
	font-family: "nasalization"; 
    src: url("../fonts/NasalizationRg-Regular-400.ttf") format("truetype")  
	,url("../fonts/NasaliNasalizationRg-Regular-400.woff") format("woff"),
	 url("../fonts/NasaliNasalizationRg-Regular-400.otf") format("opentype");
    
 } 
 @font-face { 
	font-family: "squarefont"; 
	src: url("../fonts/SquareFont-400.ttf") format("truetype"),
	url("../fonts/SquareFont-400.otf") format("opentype"),
	 url("../fonts/SquareFont-400.woff") format("woff");
 } 
 @font-face { 
	font-family: "Gameshow"; 
	src: url("../fonts/Gameshow.ttf"),
	url("css/fonts/Gameshow.otf") format("opentype"); 
 } 
 body{
    background:url('images/background.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    margin:0px;
    padding:0px;
    height: 100vh;
   font-family: 'nasalization'!important;
  
}
#cursor{
    width:30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.616);
    position:absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    z-index: 1;
    // pointer-events: none;
}
 #fullpage {
      height:100vh;
      overflow:hidden;
    //   height: calc(var(--vh, 1vh) * 100);
      .sections{
          margin-top:0%!important;
        height:100vh!important;
      }
    }
    nav#dot-nav {
        position: fixed;
        right: 20px;
        top: 20px;
      }
      
      nav#dot-nav a {
        border: 1px solid #121212;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        display: block;
        margin: 10px;
      }
      
      nav#dot-nav a.active, nav#dot-nav a:first-child {
        background: white;
      }
    
      html{
          height: 100%;
      }

.sections{
    // height: 640px;
    width:100%;
    position: relative;
    // padding:5%;
    .section1{
        background-image: url('images/banner.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 90%;
        overflow: hidden;
        height: 100%!important;
        padding:0%!important;
        position: relative;


      .top-content{
            position: relative;
            .content-col{
                padding:5%;
                height: 100%;
              
                .centerheading{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    width:100%;
                    margin-top:17%;
                    .navtoggler{
                        position: absolute;
                        right:7%;
                        top:20%;
                        font-size: 40px;

                    }
                    .mainlogo{
                        width: 200px;
                        height: 200px;
                    }
                    hr{
                        border:1px solid #007bff;
                        width:40%;
                    }
                   .mainbtn{
                       background-image: url('images/book-stra.png');
                       background-size: 100% 100%;
                       background-position: center;
                       background-repeat: no-repeat;
                       text-decoration: none;
                       color:white;
                       width:210px;
                       height: 40px;
                       padding:1%;
                       text-align: center;
                       font-family: 'squarefont';
                       font-size: 14px;
                       text-transform: uppercase;
                   }
                    
                    
                }
               
            }
          .sitelogo{
              position: absolute;
              top:10%;
              left: 2%;  
              img{
                width:66px;
                height: 107px;
              }
          }
          .siteName{
              position: absolute;
              top:10%;
              left: 12%;
              text-transform: uppercase;
              font-family: 'nasalization';
              line-height: 1;
              width: 100%;
              a{
                  color:white;
                  text-decoration: none;
                  font-size: 50px;
              }
          }
      }
        .topnav1{
            position: absolute;
            bottom:5%;
            width:100%;
            .topsection-corner-nav{
                padding:0%!important;
                .nav-wrap{
                margin-left: 55%;
                    .nav-item{
                        font-size: 25px;
                        margin-left:15px;
                        a{
                        color:white!important;
                        font-family:'nasalization';
                        text-transform: uppercase;
                        &:hover{
                            opacity: .8;
                        }
                        }

                    }
                    
                }
            }
        }


        .topnav2{
            position: absolute;
            
            bottom:2%;
            width:100%;
            .topsection-corner-nav2{
                padding:0%!important;
                .nav-wrap2{
                margin-left: 15%;
                    .nav-item{
                        font-size: 25px;
                        margin-left:15px;
                        a{
                        color:white!important;
                        font-family:'nasalization';
                        text-transform: uppercase;

                        &:hover{
                            opacity: .8;
                        }
                        }

                    }
                    
                }
            }
        }
}

    .rating{
        position: absolute;
        right:5%;
        bottom: 7%;
        .fa.fa-staro {
            display: block;
            padding-bottom: 10px;
            img{
                width:40px;
                height: 40px;
            }
        }
    }

}
// section 2 css start
#section2{
    padding-top:10%;
    padding-bottom:10%;
    .video-section-content{
        height: 100%;

        .row{
            height: 100%;
            .col-12{
            display: flex;
                justify-content: center;
                align-items: center;
                
            }
        }
        
        .text-container{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: right;
            h3{
                font-size: 52px;
                font-family: 'nasalization';
            }
            p{
                font-size: 20px;
            }
        }
    }
}
// section 2 ends


// section3 starts
#section3{
.services-section{
    background-image: url('images/tabs.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    overflow: hidden;
    height: 100%;
    padding:0%!important;
    position: relative;
    display:flex;
    align-items: center;
.row{
    height: 100%;
}
.service-heading{
    position:absolute;
    top:15%;
    right:6%;

}

.service-data{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    // margin:5%;
    padding:5%;
    text-align: right;
   
    .prev:hover, .next:hover,
.prev:active, .next:active,
.prev:focus, .next:focus,
.prev:visited, .next:visited {
	background: transparent !important;
	border: none !important;
}
.prev, .next{
    background: transparent;
    border: none;
    margin-bottom: 70px;
    padding-left: 43px;
    font-size: 29px;
}
.tab-content{
.tab-pane{

    h4{
        position:absolute;
        top:18%;
        left:10%;

    }
    p{
        font-size:28px;
    }
    .btn{
        position:absolute;
        left:5%;
        bottom:12%;
        box-shadow: none!important;
        background-color:rgba(0, 0, 0, 0)!important;
   font-size: 28px;
        &.next{
            left:25%;
        }
        
    }
}

}
}
.nav-tabs{
    position:absolute!important;
    left:7%;
    bottom:2%;
    border-bottom:none;
    width:80%;
    display:flex;
    flex-direction: row;
    .nav-item{
        background-color: #00aeefa6;
        color:white;
        margin:10px;
        
        a{
            color:white;
        }
        .active{
            background-color:#008fefa6 ;
        }
        .nav-link{
            border:0px!important;
                outline:none;
            &:hover{
                border:0px!important;
                outline:none;
               
            }
        }
       
    }
}

}
}
// section3 css ends services ends
#section4{
    padding-top:5%;
    padding-bottom:5%;
    .text-section{
        height: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        .row{
            .col-12{
                display:flex;
                justify-content: center;
                align-items: center;
                .text-container{
                    text-align: center;
                    line-height: 2;
                    font-family: 'nasalization';
                    h1{
                        font-size: 60px;
                    }
                    p{
                        font-size: 28px;
                    }
                }

            }
        }
     
    }

}
// section4 ends here
// section 5 sstart
//analytics
#section5{
    .analytic-section{
        height: 100%;
        .row{
            height: 100%;
            .col-12{
                display:flex;
                justify-content: center;
                align-items: center;
            }
        }
       .img-side{
           img{
               width:100%;
               height: 300px;
           }
       }
       .analytic-content{
        background-image: url('images/analytics-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 50%;
        overflow: hidden;
        width: 80%;
        height: 100%;
        padding:0%!important;
        position: relative;
        display:flex;
        align-items: center;
        flex-direction: column;
        .analytic-inner{
            h4{
                font-size: 38px;
            }
            .first{
                font-size: 22px;

            }
            .second{
                font-size: 18px;
                font-family: 'nasalization';
                text-align:right;
            }
        }
        .analytic-btn{
        position: absolute;
        bottom:18%;
        color:white;
        text-decoration:none;
        font-size: 14px;
        font-family: 'nasalization';
        background-color: #03a6ff;
        width:300px;
        border-radius: 0%;

        }

       }
    }
}

// analytics ends
// strategy start


#section6{
    .strategy-section{
        height: 100%;
        .row{
            height: 100%;
            .col-12{
                display:flex;
                justify-content: center;
                align-items: center;
                
            }
        }
       .img-side{
           img{
               width:100%;
               height: 400px;
           }
       }
       .strategy-content{
        background-image: url('images/analytics-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 50%;
        overflow: hidden;
        width: 70%;
        height: 100%;
        padding:0%!important;
        position: relative;
        display:flex;
        align-items: center;
        flex-direction: column;
        .strategy-inner{
            padding-left:6%;
            padding-right:7%;
            h4{
                font-size: 38px;
            }
            .first{
                font-size: 22px;
            }
            .second{
                font-size: 18px;
                text-align:right;
            }
        }
        .strategy-btn1{
        position: absolute;
        left: 10%;
        bottom:18%;
        color:white;
        text-decoration:none;
        font-size: 14px;
        font-family: 'nasalization';
        background-color: #03a6ff;
        width:150px;
        border-radius: 0%;
       display: inline-block;
        }
        .strategy-btn2{
            display:inline-block;
            position: absolute;
            right:10%;
            bottom:18%;
            color:white;
            text-decoration:none;
            font-size: 14px;
            font-family: 'nasalization';
            background-color: #03a6ff;
            width:150px;
            border-radius: 0%;
    
            }

       }
    }
}
// strategy ends


// client slider/
.slider-1 {
	// padding-top: 70px;
    // padding-bottom: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
    // flex-direction: row;
    height: 100%;
    .clients-slider{
        .row{
            height: 100%;
            .col-12{
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                height: 100%;
                .container{
                    width:80%;
                }
            }
        }
    }
}
.clients h4 {
	display: inline-block;
    font-size: 40px;
    padding-right: 30px;
}
.clients {
	width: 20%;
	max-width: 20%;
	float: left;
}
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
	padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 19%;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

// client slider css ends


// case study start
.casestudy-content{
    height:100%;
    .row{
        height:100%;
        .col-12{
            
            position: relative;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
              
                    .swiper-slide {
                        .row{
                            width:100%;
                          
                        }
                        .data-side{
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            height:100%;

                            .text-container{
                                text-align: right;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                h3{
                                    text-transform: uppercase;
                                    font-family: 'nasalization';
                                    font-size: 36px;
                                    color:rgb(0, 119, 255);
                                }
                                p{
                                    font-size: 20px;
                                }
                                .more{
                                    background-color:rgb(0, 153, 255);
                                    color:black;
                                    width:250px;
                                    text-decoration: none;
                                        padding:3%;
                                        text-align: center;
                                }
                            }
                        }
                        .img-side{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            .case-profile{
                                background-image: url('images/video-right.png');
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 100% 100%;
                                overflow: hidden;
                                width: 100%;
                                height: 300px;
                                padding:0%!important;
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                            }
                         
                        }
                    }
        }
        .carousel-indicators{
            bottom:-20%;
            li{
                height: 10px;
            }
        }
    }}
/* slider */




// map section satart
#section9{
    .map-section{
        background-image: url('images/world.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        overflow: hidden;
        width: 100%;
        height: 100%;
        .row{
            height: 100%;
                .col-12 {
                 height: 100%;

.world{
    background-image: url('images/marker.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right:7%;
    bottom:15%;
    width:350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5%;
    p{
        margin-bottom: 0px;
    }
    .htitle{
        font-size: 22px;
    }
    .counter{
        margin-left: 15px;
        font-size: 12px;
    }
}
                }
        }
    }
}
// last footer section

#section10{

    .footer-section{
        height: 100%;

        .row{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .col-12{
                height: 40%;
            //   padding:5%;
            }
        }
        .job-col{
            background-image: url('images/detail-bg.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            height:100% ;
            width: 100%;
            color:white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            p{
                font-size: 12px;
                margin-bottom:2px;
            }
                h2  {
                 font-size:44px;
                 font-weight: 700;
                }
                &:hover{
                    opacity: 0.9;
                }
                .click{
                    position: absolute;
                    bottom:10%;
                }

        }
        .qoute-col{
            background-image: url('images/detail-bg.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            height:100% ;
            width: 100%;
            color:white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;

            p{
                font-size: 12px;
                margin-bottom:2px;
            }
                h2  {
                 font-size:44px;
                 font-weight: 700;
                }
                &:hover{
                    opacity: 0.9;
                }
                .click{
                    position: absolute;
                    bottom:10%;
                }


        }
        .resource-col{
            background-image: url('images/detail-bg.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            height:100% ;
            width: 100%;
            color:white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;

            p{
                font-size: 12px;
                margin-bottom:2px;
            }
                h2  {
                 font-size:44px;
                 font-weight: 700;
                }
                &:hover{
                    opacity: 0.9;
                }
                .click{
                    position: absolute;
                    bottom:10%;
                }

        }
    }
}

















































@media screen and (max-width:500px) and (min-width:0px){
    #cursor{
        display:none!important;
    }

    #fullpage {
        height:100vh;
        overflow:hidden;
  
        .sections{
          height:95vh!important;
        }
      }
   
.section1 {
    // background-size: 100% 80%!important;
    .top-content {
       
        .content-col {
            padding:0%!important;
        }
    }
}
 
.sitelogo{
    top: 9%!important;
    left:2%!important;
    img{
        width:40px!important;
        height:60px!important;
    }
}
.siteName{
    top:12%!important;
    left:15%!important;
    a{
        font-size:18px!important;
    }
}

.centerheading{
    margin-top:30%!important;
    h1{
        font-size: 6vw!important;
        font-family: 'nasalization'!important;
    }
    hr{
    width:50%!important;
    }
    .mainlogo{
        width:40vw!important;
        height:40vw!important;
    }
    .welcomebanner{
        width:75vw!important;
        height:10vh!important;

    }
    .mainbtn{
        height: 30px!important;
    }
}


.topnav1{
    bottom:6%!important;
    .topsection-corner-nav{
        .nav-wrap{
            margin-left: 48%!important;
       
        .nav-item{
            font-size: 3vw!important;
            margin-left: 0px!important;
        }
    }
    }

}
.topnav2{
    left: -3%!important;
    bottom:3%!important;
    .topsection-corner-nav2{
        .nav-wrap2{
            margin-left:8%!important;
            .nav-item{
                font-size: 3vw!important;
            margin-left: 0px!important;

            }
        }
        
    }
}

.rating{
    position: absolute;
    right:0%!important;
    bottom: 7%!important;
    .fa.fa-staro {
        display: block;
        padding-bottom: 10px;
        img{
            width:25px!important;
            height: 25px!important;
        }
    }
}
// section1 responsive ends


// section2 starts

.video-section-content{
    .text-container{
        display: flex!important;
        align-items: flex-end!important;
        width: 100%!important;
        text-align: right!important;
        justify-content: right!important;
        h3{
            font-size: 30px!important;
        }
        p{
            font-size: 16px!important;
        }
    }
    #video-laptop{
        iframe{
            width:330px!important;
            height: 280px!important;
        }
    }
}
// section2 ends
// section  starts

.services-section{
    .service-heading{
        right:2%!important;
        top:17%!important;
        h2{
            font-size: 12px!important;
        }
       

    }
    .service-data{
        .tab-content{
            .tab-pane{
                p{
                    font-size:12px!important;
                }
                h4{
                    font-size:14px!important;
                }

                .btn{
                    font-size:12px!important;
                    left:-3%!important;
                    bottom: 10%!important;
                    &.next{
                        left:15%!important;
                    }
                }
            }
        }
    }
    .nav-tabs{
        bottom:3%!important;
        left:0%!important;
        width:90%!important;
        li{
            a{
            padding: 3px!important;
            font-size:6px!important;
            text-align: center!important;
          
            }
            width:85px;
            height: 18px;
            padding: 0px;
            margin:0px;
        }
    }
}
// service section ends
.text-section{
    .text-container{
        h1{
            font-size:18px!important;
            font-family: 'nasalization'!important;
        }
        p{
            font-size:12px!important;
            font-family: 'nasalization'!important;
        }
        
    }
}
// text area ends
// analytics start

.analytic-content{
    width:100%!important;
    height:100%!important;
    background-size: 100% 60%!important;
    padding-bottom:5%!important;
    background-position: top;
    .analytic-inner{
        margin-top: 21%!important;
        h4{
            font-size: 16px!important;
        }
        .first{
            font-size: 12px!important;
        }
        .second{
            font-size: 12px!important;
        }

    }

    .analytic-btn{
        bottom:5%!important;
    }
}
// analytics end
// strategy start
.strategy-content{
    width:100%!important;
    height:100%!important;
    background-size: 100% 80%!important;
    padding-bottom:10%!important;
    background-position: top;
    .strategy-inner{
        margin-top: 10%!important;
        h4{
            font-size: 16px!important;
            margin-bottom:0%!important;
        }
        .first{
            font-size: 12px!important;
            margin-bottom:0%!important;

        }
        .second{
            font-size: 12px!important;
        }

    }

    .strategy-btn1{
        left:0%!important;
        bottom:-2%!important;
height: 20px;
width:100px!important;
font-size: 11px!important;
padding:0%!important;
    }
    .strategy-btn2{
       right:0%!important;
       bottom:-2%!important;
       height: 20px;
width:100px!important;
font-size: 11px!important;
padding:0%!important;

    }
}
// client slider start
.clients-slider{
    .row{
        height: 100%;
        .col-12{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            height: 100%;
            .container{
                width:85%!important;
            }
        }
    }
}


// cliend ends
// case study start

.casestudy-content{
  
        .swiper-slide{
        .row{
            display:flex!important;
            flex-direction: row-reverse!important;

        }
        .text-container{
            h3{
                font-size: 18px!important;
            }
            p{
                font-size:12px!important;
            }
        }
            .img-side{
                padding-top:20px!important;
                padding-bottom:10px!important;
                display: flex!important;
                justify-content: center!important;
                align-items: center!important;
                flex-direction: column!important;
                height: 100%!important;
                position: relative!important;
                .slide-title{
                    font-size:22px!important;
                }
                .case-profile{
                    background-image: url('images/video-right.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100% 100%!important;
                    width: 100%!important;
                    height: 300px!important;
                    position: relative;
                    display: flex!important;
                justify-content: center!important;
                align-items: center!important;
                flex-direction: column!important;
                }
               
            }
        }


        .carousel-indicators{
             bottom:-6%!important;
             li{
                 height: 10px;
             }
        }
    
}
// casestudy ends
// map staart

#section9{
    padding-top:5%;
    padding-bottom:5%;
    .map-section{
        .world{
            right:0%!important;
            bottom:5%!important;
            padding:3%!important;
            width:300px!important;
            .htitle{
                font-size: 16px!important;
                font-weight: 400;

            }
        }
    }
}
// map ends
// footer start
.footer-section{
    .row{
        .col-12{
            height: 35%!important;
            padding:3%!important;
        }
    }
}

}// /query for mobile ends

// query for tablets and mobile rotated view start
@media screen and (max-width:768px) and (min-width:501px){
#cursor{
display: none!important;
}

#fullpage {
    height:100vh;
    overflow:hidden;
    .sections{
      height:90vh!important;
    }
  }

.section1 {
    .top-content {
    
        .sitelogo{
            top:10%!important;
            left:1%!important;
            img{
                width:50px!important;
                height:60px!important;
            }
        }
        .siteName{
            top:11%!important;
            left:13%!important;
            a{
                font-size:24px!important;
            }
        }
        .content-col {
            padding:0%!important;
        }
    }
}
.centerheading{
    margin-top:20%!important;
    h1{
        font-size: 24px!important;
        font-family: 'nasalization'!important;
    }
    hr{
    width:40%!important;
    }
    .mainlogo{
        width:150px!important;
        height:130px!important;
    }
    .welcomebanner{
        width:280px!important;
        height: 40px!important;

    }
    .mainbtn{
        height: 35px!important;
        // line-height: 5%!important;
    }
}


.topnav1{
    bottom:6%!important;
    .topsection-corner-nav{
        .nav-wrap{
            margin-left: 50%!important;
       
        .nav-item{
            text-transform: uppercase;
            font-size: 14px!important;
            margin-left: 0px!important;
        }
    }
    }

}
.topnav2{
    left: -6%!important;
    bottom:3%!important;
    .topsection-corner-nav2{
        .nav-wrap2{
            margin-left:15%!important;
            .nav-item{
                font-size: 14px!important;
            margin-left: 0px!important;

            }
        }
        
    }
}

.rating{
    position: absolute;
    right:1%!important;
    bottom: 10%!important;
    .fa.fa-staro {
        display: block;
        padding-bottom: 10px;
        img{
            width:25px!important;
            height: 25px!important;
        }
    }
}
// top main section ends
// video section start
.video-section-content{
    .text-container{
        display: flex!important;
        align-items: flex-end!important;
        width: 80%!important;
        height: 100%!important;
        text-align: right!important;
        justify-content: center!important;
        h3{
            font-size: 26px!important;
        }
        p{
            font-size: 16px!important;
        }
    }
    #video-laptop{
        iframe{
            width:300px!important;
            height: 240px!important;
        }
    }
}
// section2 video section ends
// services section start

.services-section{
    .service-heading{
        right:4%!important;
        top:15%!important;
        h2{
            font-size: 18px!important;
        }
       

    }
    .service-data{
        .tab-content{
            .tab-pane{
                p{
                    font-size:14px!important;
                }
                h4{
                    font-size:16px!important;
                }

                .btn{
                    font-size:18px!important;
                    left:0%!important;
                    bottom:7%!important;
                    &.next{
                        left:16%!important;
                    }
                }
            }
        }
    }
    .nav-tabs{
        bottom:0vh!important;
        left:3%!important;
        width:80%!important;
        .nav-item{
            margin:3px!important;
        }
        li{
            a{
            padding: 0px!important;
            font-size:7px!important;
            text-align: center!important;
          line-height: 3!important;
            }
            width:85px;
            height: 18px;
            padding: 0px;
            margin:0px;
        }
    }
}
// services section ends 
.text-section{
    .text-container{
        h1{
            font-size: 18px!important;
        }
        p{
            font-size:12px!important ;
        }
    }
}
// analytics section start
    .analytic-section{
        .img-side{
            display: flex!important;
            justify-content: center!important;
            align-items: center!important;
            margin-top:10%!important;
            img{
                width:200px!important;
                height: 190px!important;
            }
        }
    }
.analytic-content{
    width:100%!important;
    height:300px!important;
    background-size: 100% 60%!important;
    padding-bottom:5%!important;
    background-position: top;

    .analytic-inner{
        margin-top: 33%!important;
        padding-left:5%!important;
        padding-right:5%!important;
        h4{
            font-size: 18px!important;
        }
        .first{
            font-size: 14px!important;
            margin-bottom:2%!important
        }
        .second{
            font-size: 10px!important;
        }

    }

    .analytic-btn{
        bottom:5%!important;
    }
}
// analytics section ends
// strategy start
.strategy-section{
    .img-side{
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
        img{
           width:250px!important;
           height: 250px!important;
        }
    }
}
.strategy-content{
    width:100%!important;
    height:300px!important;
    background-size: 100% 60%!important;
    padding-bottom:10%!important;
    background-position: top;
    .strategy-inner{
        margin-top: 33%!important;
        h4{
            font-size: 18px!important;
            margin-bottom:1%!important;
        }
        .first{
            font-size: 12px!important;
            margin-bottom:3%!important;

        }
        .second{
            font-size: 10px!important;
        }

    }
    .strategy-btn1{
        left:4%!important;
        bottom:6%!important;
height: 30px;
width:100px!important;
font-size: 11px!important;
padding:0%!important;
line-height: 3!important;
    }
    .strategy-btn2{
       right:4%!important;
       bottom:6%!important;
       height: 30px;
width:100px!important;
font-size: 11px!important;
padding:0%!important;
line-height: 3!important;
    }
}
// stategy ends
// client slider start
.clients-slider{
    .row{
        height: 100%;
        .col-12{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column!important;
            height: 100%;
            .clients{
                display:flex!important;
                justify-content: center!important;
                align-items: center!important;
                flex-direction: row!important;
                position: relative!important;
                margin-bottom: 5%!important;
                img{
                   
                    position: absolute!important;
                    top:-60%!important;
                    left:40%!important;
                    transform: rotate(90deg)!important;
                }
            }
            .container{
                width:100%!important;
                height: 150px!important;
            }
        }
    }
}

// clients section ends 
// case study section start
.casestudy-content{
    .swiper-slide{
  .data-side{
      height: 100%!important;
    .text-container{
        padding-left: 5%!important;
        padding-right: 5%!important;
        h3{
            font-size: 16px!important;
        }
        p{
            font-size:11px!important;
        }
        .more{
            font-size: 12px!important;
            width:170px!important;

        }
    }
}
        .img-side{
            padding-top:20px!important;
            padding-bottom:10px!important;
            display: flex!important;
            justify-content: center!important;
            align-items: center!important;
            flex-direction: column!important;
            height: 100%!important;
            position: relative!important;
            .slide-title{
                font-size:22px!important;
            }
            .case-profile{
                background-image: url('images/video-right.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100% 100%!important;
                width: 100%!important;
                height: 235px!important;
                position: relative;
                display: flex!important;
            justify-content: center!important;
            align-items: center!important;
            flex-direction: column!important;
            }
           
        }
    }


    .carousel-indicators{
         bottom:-13%!important;
         li{
             height: 10px;
         }
    }

}
// case section ends
// map section start
#section9{
    padding-top:5%;
    padding-bottom:5%;
    .map-section{
        .world{
            right:0%!important;
            bottom:5%!important;
            padding:3%!important;
            width:250px!important;
            height: 170px!important;
            .htitle{
                font-size: 16px!important;
                font-weight: 400!important;

            }
            .counter{
                font-size:12px!important ;
            }
        }
    }
}
// map ends
// footer start
.footer-section{
    .row{
        .col-12{
            height: 55%!important;
            padding:3%!important;
            .job-col{
                h2{
                    font-size:18px!important ;
                }
                .click{
                    font-size: 10px!important;
                }
            }
            .qoute-col{
                h2{
                    font-size:18px!important ;
                }
                .click{
                    font-size: 10px!important;
                }
            }
            .resource-col{
                h2{
                    font-size:18px!important ;
                }
                .click{
                    font-size: 10px!important;
                }
            }
        }
    }
}

}
// tablet ends
// landscap{


// large screen small settings

@media (min-width:769px) and (max-width:1200px){

    #fullpage {
        height:100vh;
        overflow:hidden;
        .sections{
            // margin-top:5%!important;
          height:95vh!important;
        //   &:nth-child(2){
        //     margin-top:5%!important;

        //   }
        }
      }
      .section1{
        .top-content{
            .siteName{
                top:8%!important;

                a{
                    font-size: 38px!important;
                }
              
            }
            .sitelogo{
                top:6%!important;
                left: 2%!important;
                img{
                    width:60px!important;
                    height: 80px!important;
                }
            }
            .centerheading{
                margin-top:10%!important;
            }
        }
      }
      .topnav1{
        left:-6%!important;
        .nav-item{
          font-size:16px!important;
        }
    }
      .topnav2{
          left:-6%!important;
          .nav-item{
            font-size:16px!important;
          }
      }
     
      // section2 starts

.video-section-content{
    .text-container{
        display: flex!important;
        align-items: flex-end!important;
        width: 100%!important;
        text-align: right!important;
        justify-content: center!important;
        h3{
            font-size: 30px!important;
        }
        p{
            font-size: 16px!important;
        }
    }
    #video-laptop{
        iframe{
            width:330px!important;
            height: 280px!important;
        }
    }
}
// section2 ends
.services-section{
    .service-heading{
        right:8%!important;
        top:17%!important;
        h2{
            font-size: 18px!important;
        }
       

    }
    .service-data{
        .tab-content{
            .tab-pane{
                p{
                    font-size:14px!important;
                }
                h4{
                    font-size:16px!important;
                }

                .btn{
                    font-size:18px!important;
                    left:2%!important;
                    bottom: 8%!important;
                    &.next{
                        left:15%!important;
                    }
                }
            }
        }
    }
    .nav-tabs{
        bottom:4%!important;
        left:4%!important;
        width:80%!important;
        li{
            a{
            padding: 3px!important;
            font-size:6px!important;
            text-align: center!important;
          
            }
            width:85px;
            height: 18px;
            padding: 0px;
            margin:0px;
        }
    }
}

.text-section{
    .text-container{
        h1{
            font-size:28px!important;
            font-family: 'nasalization'!important;
        }
        p{
            font-size:14px!important;
            font-family: 'nasalization'!important;
        }
        
    }
}
// text area ends


// analytics start
.analytic-section{
    .img-side{
        img{
width:230px!important;
        }
    }

.analytic-content{
    width:100%!important;
    height:100%!important;
    background-size: 100% 60%!important;
    padding-bottom:5%!important;
    background-position: top;
    .analytic-inner{
        margin-top: 44%!important;
        h4{
            font-size: 22px!important;
        }
        .first{
            font-size: 18px!important;
            margin-bottom: 7%!important;
        }
        .second{
            font-size: 14px!important;
        }

    }

    .analytic-btn{
        bottom:8%!important;
    }
}
}
// analytics end
.strategy-section{
    .img-side{
        img{
width:300px!important;
        }
    }
.strategy-content{
    width:100%!important;
    height:365px!important;
    background-size: 100% 80%!important;
    padding-bottom:10%!important;
    background-position: top;
    .strategy-inner{
        margin-top: 18%!important;
        h4{
            font-size: 26px!important;
            margin-bottom:0%!important;
        }
        .first{
            font-size: 16px!important;
            margin-bottom:3%!important;

        }
        .second{
            font-size: 14px!important;
        }

    }

    .strategy-btn1{
        left:0%!important;
        bottom:0%!important;
height: 30px;
width:150px!important;
font-size: 13px!important;
padding:0%!important;
line-height: 2!important;
    }
    .strategy-btn2{
       right:0%!important;
       bottom:0%!important;
       height: 30px;
width:150px!important;
font-size: 13px!important;
padding:0%!important;
line-height: 2!important;


    }
}

}

// case
.casestudy-content{
  
    .swiper-slide{
    // .row{
    //     display:flex!important;
    //     flex-direction: row-reverse!important;

    // }
    .text-container{
        h3{
            font-size: 18px!important;
        }
        p{
            font-size:12px!important;
        }
    }
        .img-side{
            padding-top:20px!important;
            padding-bottom:10px!important;
            display: flex!important;
            justify-content: center!important;
            align-items: center!important;
            flex-direction: column!important;
            height: 100%!important;
            position: relative!important;
            .slide-title{
                font-size:22px!important;
            }
            .case-profile{
                background-image: url('images/video-right.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100% 100%!important;
                width: 100%!important;
                height: 270px!important;
                position: relative;
                display: flex!important;
            justify-content: center!important;
            align-items: center!important;
            flex-direction: column!important;
            }
           
        }
    }


    .carousel-indicators{
         bottom:-11%!important;
         li{
             height: 10px;
         }
    }

}

.footer-section{
    .row{
        .col-12{
            height: 35%!important;
            padding:3%!important;
            .job-col{
                h2{
                    font-size: 18px!important;
                }
                .click{
                    font-size: 12px!important;
                }
            }
            .qoute-col{
                h2{
                    font-size: 18px!important;
                }
                .click{
                    font-size: 12px!important;
                }
            }
            .resource-col{
                h2{
                    font-size: 18px!important;
                }
                .click{
                    font-size: 12px!important;
                }
            }

        }
    }
}



}



@media (min-width:1349px){
    .section1{
        .top-content{
            .siteName{
                top:8%!important;

                a{
                    font-size: 38px!important;
                }
              
            }
            .centerheading{
                margin-top:8%!important;
            }
        }
      
      }
      .sections{
          .rating{
              right:9%!important;
              bottom:6%!important;
          }
      }
      .services-section{

          .nav-tabs{
              bottom:0%!important;
          }
          .tab-pane{
              p{
                  font-size:24px!important;
              }
          }
      }


      #section4 .text-section .row .col-12 .text-container {
      
        h1{
            font-size: 38px!important;
        }
        p{
            font-size: 18px!important;
        }
      }

      .analytic-section{
        .analytic-content{
            .analytic-inner{
                h4{
                  font-size: 32px!important;
                }
                .first{
                    font-size: 18px!important ;

                }
                .second{
                    font-size: 16px!important;
                }
            }
        }
    }
      .strategy-section{
          .strategy-content{
              .strategy-inner{
                  h4{
                    font-size: 32px!important;
                  }
                  .first{
                      font-size: 18px!important ;

                  }
                  .second{
                      font-size: 16px!important;
                  }
              }
          }
      }

.casestudy-content{
    .swiper-slide{
        .data-side{
            .text-container{
                h3{
                    font-size: 26px!important;
                }
                p{
                    font-size: 18px!important;
                }
            }

        }
    }
}
    }
